* {
  margin: 0;
  padding: 0;
}

.header {
  height: 200px;
  width: 100vw;
  background-color: azure;

  .menus {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;

    ul {
      li {
        width: fit-content;
        min-width: -webkit-fill-available;
      }
    }
  }
}